/* Main Layout */
.main-layout {
    padding: 0 4em;
    width: 100vw;
}

/* Header */
.header-container {
    padding: 1em 0em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title,
.wrap-header-right {
    flex: 1;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--main-color);
    text-align: left;
}

.wrap-header-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1.5em;
}

.header-btn {
    font-size: 1em;
    font-weight: bold;
    color: var(--main-color);
    padding: 0.5em 0.25em;
    border: none;
    background-color: white;
    border-bottom: 0.125em solid white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.header-btn:hover {
    cursor: pointer;
    border-bottom: 0.125em solid var(--main-color);
}

.header-btn-active {
    border-bottom: 0.125em solid var(--main-color);
}

.wrap-header-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.25em;
}

.btn-choose-date {
    font-size: 1em;
    font-weight: bold;
    border: none;
    background-color: white;

    color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    padding: 0.5em 1em;
}


.react-datepicker__input-container input {
    width: 120px;
    cursor: pointer;
}

.btn-choose-date:hover {
    background-color: var(--light-grey);
    border-radius: 0.5em;
    cursor: pointer;
}

.btn-search {
    background-color: white;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-grey);
}

.btn-search-2,
.btn-search-active {
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    transition: all 0.3s ease;
}

.btn-search-2:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn-search:hover {
    color: var(--dark-grey);
    background-color: var(--light-grey);
    cursor: pointer;
}

.horizontal-divide {
    height: 1.5em;
    width: 2px;
    background-color: var(--light-grey);
}

/* Categories */
.wrap-all-categories {
    width: 100%;
    padding: 0.5em;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    border-radius: 1em;
}

.wrap-all-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 0.5em;
}

.category-item {
    font-size: 13px;
    font-weight: bold;
    color: var(--light-grey);
    padding: 0.5em 1em;
    border-radius: 9999px;
    transition: all 0.3s ease;
    text-align: center;
}

.cate-arrow {
    color: var(--light-grey);
    border-radius: 9999px;
    transition: all 0.3s ease;
}

.cate-arrow:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.category-item:hover {
    background-color: var(--dark-grey);
    cursor: pointer;
}

.category-item-active {
    font-size: 12px;
    font-weight: bold;
    color: var(--light-grey);
    padding: 0.5em 1em;
    border-radius: 9999px;
    background: var(--light-grey);
    color: var(--main-color);
    text-align: center;
}

/* Home */
.container-hot-news {
    padding: 1.5em;
    margin: 1.5em 0;
    border-radius: 1em;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}

.wrap-hot-news {
    display: flex;
    align-items: stretch;
    gap: 0.625em;

}

.left-hot-news,
.right-hot-news {
    flex: 1;
}

.right-hot-news {
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}

.main-hot-news-content {
    color: white !important;
    text-align: justify;
    z-index: 2;
}

.left-hot-news {
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    transition: all 0.3s ease;
}

.left-hot-news::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
}

.main-hot-news {
    position: relative;
    z-index: 2;
    padding: 1em;
    border-radius: 0.5em;
    background-color: transparent;
    height: 100%;
    display: flex;
    justify-content: end;
}

.category-name {
    font-size: 13px;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 9999px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.category-name-white {
    color: var(--main-color);
    background-color: var(--light-grey);
}

.category-name-black {
    color: var(--light-grey);
    background-color: var(--main-color);
}

.date-source {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-news-vertical {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    gap: 0.625em;
}

.thumbnail-vertical {
    border-radius: 0.5em;
    border: 0.01em var(--light-grey) solid;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    padding: 0.5em;
    aspect-ratio: 3 / 2;
    width: 100%;
}

.container-news-souce {
    padding: 1.5em 0;
}

/* Source page */
.wrap-todaynews {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.wrap-list-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin: 0.5em 0;
}

.btn-index {
    border-radius: 0.25em;
    color: var(--main-color);
    font-size: 1em;
    font-weight: bold;
    width: 2em;
    height: 2em;
    text-align: center;
    background-color: var(--light-grey);
    border: none;
    transition: all 0.1s ease;
}

.btn-index:hover {
    cursor: pointer;
    border: 1px solid var(--main-color);
}

.btn-index-active {
    color: var(--light-grey);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.wrap-source-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0 0;
}

.mini-logo {
    height: 1em;
}

.source-logo {
    height: 3em;
}

/* Body */
.body {
    margin: 1em 12em;
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}

.body h1 {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
}

.container-search {
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}

.wrap-search {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    border-radius: 9999px;
    flex: 2;
    padding: 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625em;
}

input {
    border: none;
    background-color: transparent;
    flex: 1;
    outline: none;
    font-size: 1em;
}


/*  */
.wrap-news-item {
    padding: 0.5em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    transition: all 0.3s ease;
    background-color: white;
}

.wrap-news-item-vertical {
    margin: 0.5em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    gap: 0.5em;
    transition: all 0.3s ease;
}

.wrap-news-item-vertical:hover,
.left-hot-news:hover,
.wrap-news-item:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.thumbnail {
    width: 25%;
    border-radius: 0.5em;
    border: 0.01em var(--light-grey) solid;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    padding: 0.5em;
}

.wrap-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.625em;
    font-size: 1em;
}

.wrap-content>h2,
.wrap-dialog>h2 {
    font-weight: bold;
    color: var(--black);
    font-size: 1.25em;
}

.wrap-content>.description {
    color: var(--dark-grey);
    text-align: justify;
}

.date {
    font-size: 0.8125em;
    /* font-weight: bold; */
    color: var(--dark-grey);
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.wrap-dialog {
    padding: 1.5em;
    background-color: white;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.628em;
    width: 70%;
}

.content-url {
    font-size: 0.8125em;
    text-decoration: underline;
    font-style: italic;
    color: var(--main-color);
    cursor: pointer;
}

.wrap-feedback {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    border-radius: 0.5em;
    padding: 1.5em;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625em;
    color: var(--black);
    font-size: 1em;
}

.divide {
    height: 0.01em;
    width: 100%;
    background-color: var(--dark-grey);
}

.feedback-choice {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8125em;
    color: var(--dark-grey);
}

.like-dislike {
    display: flex;
    gap: 1em;
}

.wrap-bottom {
    width: 100%;
    display: flex;
    gap: 0.625em;
}

.btn {
    flex: 1;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    font-size: 1em;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-cancel {
    background-color: var(--main-color);
    color: white;
}

.btn:hover {
    transform: scale(1.03);
    cursor: pointer;
}

/* NewsFeedback */
.feedback-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    gap: 0.25em;
}

.hidden {
    display: none;
}

/* Loading */
.loading-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0;
}

.loading {
    animation: loading 1s linear infinite;
}

/* Intro */
.intro-wrap {
    background-image: linear-gradient(to top, #263238, #6B8D9E);
    border-radius: 1em;
    padding: 1.5em;
    margin: 1.5em 0;
    display: flex;
    align-items: center;
    color: var(--light-grey);
}

.intro-content>p {
    margin: 0.5em 0;
}

.intro-content-category {
    display: flex;
    gap: 1em;
}

.intro-content-category>.category-name {
    font-size: 1em;
}

.intro-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1024px) {
    .body {
        margin: 1em 5em;
        display: flex;
        flex-direction: column;
        gap: 0.625em;
    }
}

@media (max-width: 768px) {
    .thumbnail {
        width: 150px;
        border-radius: 0.5em;
        border: 0.01em var(--light-grey) solid;
        object-fit: cover;
    }
}