.header-container {
    padding: 1em 6em;
    width: 100vw;
    background-color: var(--main-color);
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--white);
}

/* Body */
.body {
    margin: 1em 6em;
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}

.body h1 {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
}

.wrap-search {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    border-radius: 0.5em;
    flex: 2;
    padding: 0.75em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625em;
}

input {
    border: none;
    background-color: transparent;
    flex: 1;
    outline: none;
    font-size: 1em;
}

/*  */
.wrap-news-item {
    padding: 0.5em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    transition: all 0.3s ease;
}

.wrap-news-item:hover {
    background-color: var(--light-grey);
    cursor: pointer;
    transform: scale(1.01);
}

.thumbnail {
    width: 25%;
    border-radius: 0.5em;
    border: 0.01em var(--light-grey) solid;
}

.wrap-content {
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}

.wrap-content>h2 {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--black);
}

.wrap-content>.description {
    font-size: 1em;
    color: var(--dark-grey);
}

.date {
    font-size: 0.8125em;
    font-weight: bold;
    color: var(--dark-grey);
    display: flex;
    align-items: center;
    gap: 0.25em;
}