/* Main Layout */
.main-layout {
    padding: 0 4em;
    width: 100vw;
}

/* Header */
.header-container {
    padding: 1em 0em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title,
.wrap-header-right {
    flex: 1;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--main-color);
    text-align: left;
}

.wrap-header-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1.5em;
}

.header-btn {
    font-size: 1em;
    font-weight: bold;
    color: var(--main-color);
    padding: 0.5em 0.25em;
    border: none;
    background-color: white;
    border-bottom: 0.125em solid white;
}

.header-btn:hover {
    cursor: pointer;
    border-bottom: 0.125em solid var(--main-color);
}

.header-btn-active {
    border-bottom: 0.125em solid var(--main-color);
}

.wrap-header-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.25em;
}

.btn-choose-date {
    font-size: 1em;
    font-weight: bold;
    border: none;
    background-color: white;

    color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    padding: 0.5em 1em;
}

.btn-choose-date:hover {
    background-color: var(--light-grey);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
}

.btn-search {
    background-color: white;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-grey);
}

.btn-search:hover {
    background-color: var(--light-grey);
    cursor: pointer;
}

.horizontal-divide {
    height: 1.5em;
    width: 2px;
    background-color: var(--light-grey);
}

/* Categories */
.wrap-all-categories {
    width: 100%;
    padding: 0.5em;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    border-radius: 1em;
}

.wrap-all-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 0.625em;
}

.category-item {
    font-size: 13px;
    font-weight: bold;
    color: var(--light-grey);
    padding: 0.5em 1em;
    border-radius: 9999px;
}

.category-item:hover {
    background-color: var(--dark-grey);
    cursor: pointer;
}

.category-item-active {
    font-size: 13px;
    font-weight: bold;
    color: var(--light-grey);
    padding: 0.5em 1em;
    border-radius: 9999px;
    background: var(--light-grey);
    color: var(--main-color);
}

/* Body */
.body {
    margin: 1em 12em;
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}

.body h1 {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
}

.wrap-search {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    border-radius: 0.5em;
    flex: 2;
    padding: 0.75em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625em;
}

input {
    border: none;
    background-color: transparent;
    flex: 1;
    outline: none;
    font-size: 1em;
}

/*  */
.wrap-news-item {
    padding: 0.5em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    transition: all 0.3s ease;
}

.wrap-news-item:hover {
    background-color: var(--light-grey);
    cursor: pointer;
    transform: scale(1.01);
}

.thumbnail {
    width: 200px;
    border-radius: 0.5em;
    border: 0.01em var(--light-grey) solid;
    object-fit: cover;
}

.wrap-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.625em;
}

.wrap-content>h2,
.wrap-dialog>h2 {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--black);
}

.wrap-content>.description {
    font-size: 1em;
    color: var(--dark-grey);
}

.date {
    font-size: 0.8125em;
    font-weight: bold;
    color: var(--dark-grey);
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.wrap-dialog {
    padding: 1.5em;
    background-color: var(--white);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.628em;
    width: 70%;
}

.content-url {
    font-size: 0.8125em;
    text-decoration: underline;
    font-style: italic;
    color: var(--main-color);
    cursor: pointer;
}

.wrap-feedback {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    border-radius: 0.5em;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625em;
    color: var(--black);
    font-size: 1em;
}

.divide {
    height: 0.01em;
    width: 100%;
    background-color: var(--dark-grey);
}

.feedback-choice {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8125em;
    color: var(--dark-grey);
}

.like-dislike {
    display: flex;
    gap: 0.25em;
}

.wrap-bottom {
    width: 100%;
    display: flex;
    gap: 0.625em;
}

.btn {
    flex: 1;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    font-size: 1em;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-cancel {
    background-color: var(--light-grey);
    color: var(--main-color);
}

.btn-feedback {
    background-color: var(--main-color);
    color: var(--white);
}

.btn:hover {
    transform: scale(1.03);
    cursor: pointer;
}

@media (max-width: 1024px) {
    .body {
        margin: 1em 5em;
        display: flex;
        flex-direction: column;
        gap: 0.625em;
    }
}

@media (max-width: 768px) {
    .thumbnail {
        width: 150px;
        border-radius: 0.5em;
        border: 0.01em var(--light-grey) solid;
        object-fit: cover;
    }
}