@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
  --main-color: rgb(38 , 50, 56);
  --light-grey: rgb(240, 242, 245);
  --dark-grey: rgb(101, 104, 108);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}